.grandtitle {
    background-color: transparent;
    margin-top: 300px;

    font-size: 700%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffcb8e;
    user-select: none;
}

.moduleselection {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.modulebutton {
    display: flex;
    width: 250px;
    height: 60px;

    background-color: rgba(0, 0, 0, 0.232);
    border-radius: 12px;

    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: #ffcb8e;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #a3e3ff, rgb(0, 43, 168));
}