<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QuantLab - Back Test</title>
  <!------------------------------------ Import CSS files ---------------------------------------->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/backtest.css') }}">
</head>

<body>
  <!--------------------------------- Settings --------------------------------------->
  <div class="navbar">
    <a href="{{url_for('index')}}" class="navbutton">Home</a>
  </div>
  <div class="grandtitle">Backtest Lab</div>
  <div class="container">
  <!--------------------------------- Strategy Selection --------------------------------------->
  <div id = 'parameters'> 
    <form id="backtestForm" method="post">
  
      <div>
        <label for="Strategy">Strategy:</label>
        <select id="strategy" name="Strategy">
          <option value="" disabled selected>Choose a strategy</option>
          <option value="dsma">Double Moving Average(SMA)</option>
          <option value="dema">Double Moving Average(EMA)</option>
          <option value="pair">Pair Trading Strategy</option>
        </select>
      </div>
      <!---------------------Double Moving Average(SMA) Strategy Settings-------------------->
      <div id = 'dsmaoption' class = 'hidden'>
        <label for="ShortTermSMAPeriode">Short-term SMA Periode:</label>
        <select id="stsmap" name="ShortTermSMAPeriode">
          <option value=10>1</option>
          <option value=20>5</option>
          <option value=20>10</option>
          <option value=20>20</option>
        </select>
        <label for="LongTermSMAPeriode">Long-term SMA Periode:</label>
        <select id="ltsmap" name="LongTermSMAPeriode">
          <option value=10>10</option>
          <option value=20>20</option>
          <option value=20>50</option>
          <option value=20>100</option>
        </select>
        <label for="DSMATransactionSetting">Transaction Setting:</label>
        <select id="dsmatransactionsetting" name="TransactionSetting">
          <option value='fullposition'>Fulll Position</option>
        </select>
        <div>
          <label for="stock">Stock Ticker:</label>
          <input type="text" name="Ticker" id="ticker" value="TSLA" required>
        </div>
        <div>
          <label for="Amount">Invest Amount:</label>
          <input name="Amount" id="Amount" value="10000" required>
        </div>
        <div>
          <label for="RiskFreeRate">Risk Free Rate:</label>
          <input name="RiskFreeRate" id="riskfreerate" value=0.02 required>
        </div>
        <div>
          <label for="start">Start Date:</label>
          <input type="date" name="Start" id="start" value="2023-02-22" required>
        </div>
        <div>
          <label for="end">End Date:</label>
          <input type="date" name="End" id="end" value="2025-02-22" required>
        </div>
      </div>

      <!------------------------Hidden Double Moving Average(EMA) Strategy Settings------------------------>
      <div id = 'demaoption' class = 'hidden'>
        <label for="shorttime">Short-term EMA Periode:</label>
        <select id="stemap" name="ShortTermEMAPeriode">
          <option value=10>1</option>
          <option value=20>5</option>
          <option value=20>10</option>
          <option value=20>20</option>
        </select>
        <label for="longtime">Long-term EMA Periode:</label>
        <select id="ltemap" name="LongTermEMAPeriode">
          <option value=10>10</option>
          <option value=20>20</option>
          <option value=20>50</option>
          <option value=20>100</option>
        </select>
        <label for="DEMATransactionSetting">Transaction Setting:</label>
        <select id="dematransactionsetting" name="TransactionSetting">
          <option value='fullposition'>Fulll Position</option>
        </select>
        <div>
          <label for="stock">Stock Ticker:</label>
          <input type="text" name="Ticker" id="ticker" value="TSLA" required>
        </div>
        <div>
          <label for="Amount">Invest Amount:</label>
          <input name="Amount" id="Amount" value="10000" required>
        </div>
        <div>
          <label for="RiskFreeRate">Risk Free Rate:</label>
          <input name="RiskFreeRate" id="riskfreerate" value=0.02 required>
        </div>
        <div>
          <label for="start">Start Date:</label>
          <input type="date" name="Start" id="start" value="2023-02-22" required>
        </div>
        <div>
          <label for="end">End Date:</label>
          <input type="date" name="End" id="end" value="2025-02-22" required>
        </div>
      </div>

      <!------------------------Pair Trading Strategy Settings------------------------>
      <div id = 'pairoption' class = 'hidden'>
        <div>
          <label for="stock">Stock Ticker 1:</label>
          <input type="text" name="Ticker1" id="ticker1" value="MAR" required>
          <label for="stock">Stock Ticker 2:</label>
          <input type="text" name="Ticker2" id="ticker2" value="HLT" required>
        </div>

        <label for="DEMATransactionSetting">Transaction Setting:</label>
        <select id="dematransactionsetting" name="TransactionSetting">
          <option value='fullposition'>Fulll Position</option>
        </select>
        <div>
          <label for="Amount">Invest Amount:</label>
          <input name="Amount" id="Amount" value="10000" required>
        </div>
        <div>
          <label for="RiskFreeRate">Risk Free Rate:</label>
          <input name="RiskFreeRate" id="riskfreerate" value=0.02 required>
        </div>
        <div>
          <label for="start">Start Date:</label>
          <input type="date" name="Start" id="start" value="2023-02-22" required>
        </div>
        <div>
          <label for="end">End Date:</label>
          <input type="date" name="End" id="end" value="2025-02-22" required>
        </div>
      </div>
    
      <button id = 'generatebutton' type="submit">Generate</button>
    </form>
    <div>
    
    </div>   
    <!----------------------------------Result------------------------------->
    {% if image_data %}
    <h2>Back Test Result</h2>
    <div class="result">
      {% if strategy == 'dsma' or strategy == 'dema' %}
      <div class="textresult">Ticker: {{ticker}}</div>
      <div class="textresult">Strategy: {{strategy}}</div>
      {% elif strategy == 'pair' %}
      <div class="textresult">Tickers: {{ (ticker1), (ticker2) }}</div>
      {% endif %}
      <div class="textresult">Strategy: Pair Trading Strategy</div>
      <div class="textresult">Backtest Date: {{start}} -- {{end}}: {{duration}} days</div>
    <img src="data:image/png;base64,{{ image_data }}" alt="Backtest Chart">
    {% endif %}
    <!--JavaScript-->
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>