<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>QuantLab - Back Test</title>
  <!-- Import CSS files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="container">
    <h1>Backtest Lab</h1>
    <!-- Basic Parameters -->
    <form method="post">
      <div>
        <label for="stock">Stock Ticker:</label>
        <input type="text" name="stock" id="stock" value="TSLA" required>
      </div>
      <div>
        <label for="start">Start Date:</label>
        <input type="date" name="start" id="start" value="2023-02-22" required>
      </div>
      <div>
        <label for="end">End Date:</label>
        <input type="date" name="end" id="end" value="2025-02-22" required>
      </div>
      <div>
        <label for="strategy">Strategy:</label>
        <select id="strategy" name="strategy">
          <option value="Long">Long</option>
          <option value="Short">Short</option>
          <option value="dsma">Double Moving Average(SMA)</option>
          <option value="dema">Double Moving Average(EMA)</option>
          <option value="MACD">MACD</option>
        </select>
      </div>
      <!--Hidden Double Moving Average(SMA) Strategy Settings-->
      <div id = 'dsmaoption' class = 'hidden'>
        <label for="shorttime">Short-term SMA Periode:</label>
        <select id="stsmap" name="ShortTermSMAPeriode">
          <option value=10>1</option>
          <option value=20>5</option>
          <option value=20>10</option>
          <option value=20>20</option>
        </select>
        <label for="longtime">Long-term SMA Periode:</label>
        <select id="ltsmap" name="LongTermSMAPeriode">
          <option value=10>10</option>
          <option value=20>20</option>
          <option value=20>50</option>
          <option value=20>100</option>
        </select>
      </div>

      <!--Hidden Double Moving Average(EMA) Strategy Settings-->
      <div id = 'demaoption' class = 'hidden'>
        <label for="shorttime">Short-term EMA Periode:</label>
        <select id="stemap" name="ShortTermEMAPeriode">
          <option value=10>1</option>
          <option value=20>5</option>
          <option value=20>10</option>
          <option value=20>20</option>
        </select>
        <label for="longtime">Long-term EMA Periode:</label>
        <select id="ltemap" name="LongTermEMAPeriode">
          <option value=10>10</option>
          <option value=20>20</option>
          <option value=20>50</option>
          <option value=20>100</option>
        </select>
      </div>
    
      <button type="submit">Generate</button>
    </form>
    
    <!-- Result -->
    {% if image_data and transaction and rate_of_return %}
    <h2>Back Test Result</h2>
    <!-- Stock Price Chart -->
    <img src="data:image/png;base64,{{ image_data }}" alt="Stock Price Chart">
    <!-- Important Information -->
    <table>
      <thead>
        <!-- Stock Basic Information -->
        <tr>
          <th>Stock Ticker</th>
          <th>Exchange</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Duration</th>
          <th>Volatility</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ticker}}</td>
          <td>{{ticker}}</td>
          <td>{{start}}</td>
          <td>{{end}}</td>
          <td>{{transaction}}</td>
          <td>{{rate_of_return}}%</td>
        </tr>
      </tbody>
      <thead>
        <!-- Return & Risk Information -->
        <tr>
          <th>Benchmark</th>
          <th>Strategy Return</th>
          <th>Outperformance</th>
          <th>Beta</th>
          <th>Sharp Ration</th>
          <th>Max Drawdown</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ticker}}</td>
          <td>{{ticker}}</td>
          <td>{{start}}</td>
          <td>{{end}}</td>
          <td>{{transaction}}</td>
          <td>{{rate_of_return}}%</td>
        </tr>
        <!-- Transaction Information -->
        <tr>
          <th>Benchmark</th>
          <th>Rate of Return</th>
          <th>Win</th>
          <th>Beta</th>
          <th>Sharp Ration</th>
          <th>Max Drawdown</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ticker}}</td>
          <td>{{ticker}}</td>
          <td>{{start}}</td>
          <td>{{end}}</td>
          <td>{{transaction}}</td>
          <td>{{rate_of_return}}%</td>
        </tr>
      </tbody>
    </table>
  </div> 
    {% endif %}
    <!--JavaScript-->
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>