<!DOCTYPE html>
<html lang="en">
    <!-- 请你自己动手写一个小网页，功能要求：
	1.	页面上有一个下拉框 <select>，里面有三个选项："红色", "绿色", "蓝色".
	2.	当用户选择某个选项时，将页面背景色 (document.body.style.backgroundColor) 改成对应的颜色。
	3.	如果用户选择 "蓝色"，同时在页面上显示一个 <div>，内容是 "这是你的最爱颜色吗？"（默认隐藏，只有当选择蓝色时才显示）。 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <label for = 'ColorSelection'>Color Selection</label>
    <select name = 'ColorSelection' id = 'color'>
        <option value = 'red'>Red</option>
        <option value = 'green'>Green</option>
        <option value = 'blue'>Blue</option>
    </select>
    <div id = 'question' class ="hidden">Is blue your favorate color?</div>

    <!--JavaScript-->
    <script>
        const ColorSelection = document.getElementById('color');
        const Question = document.getElementById('question');
        ColorSelection.addEventListener('change', function() {
            document.body.style.backgroundColor = ColorSelection.value;
            if (ColorSelection.value === 'blue') {
            Question.classList.remove('hidden');
        }
        })
    </script>
</body>
</html>