<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrashCourse</title>
</head>
<body>
    <!--Introduction of CrashCourse-->
    <h2>What is a Quant System?</h2>
    <p>
        A Quantitative Trading System is a system which gives
        investors a perspective of quant method. It usually include
        four parts: data module, strategy module, backtest module and
        trading module.
    </p>

    <!--Stragety part-->
    <h2>Strategies Module</h2>
    <p>
        It worth spending some time learning some Classical strategies
        for beginners. Strategies like Statistical Arbitrage, Trend 
        Following and Machine Learning Trading are very important in
        quant system.
    </p>

    <!--href-->
    <a href="{{url_for('home')}}">Homepage</a>
</body>
</html>