<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuantLab</title>
</head>
<body>
    
    <!--Introduction of QuantLab-->
    <div><h2>What's QuantLab?</h2>
        <p>
            QuantLab is a website focus on testing different
            quant strategies' performeances on history data.
            You can easily create your own strategy and test
            it on different financial market.
        </p></div>
    
    <!--href-->
    <a href="{{url_for('crashcourse')}}">CrashCourse</a>
    
</body>
</html>