<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------------------------------ Import CSS files ---------------------------------------->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
</head>
<body>
   <div class="grandtitle">QuantLab</div>
   
   <div class="moduleselection">
    <a href="{{url_for('crashcourse')}}" class="modulebutton">Crash Course</a>
    <a href="{{url_for('backtest')}}" class="modulebutton">Backtest Lab</a>
    <div class="modulebutton">Portfolio Lab</div>
    
   </div>
    
</body>
</html>