<!-- templates/workspace.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QuantLab - Stock Price Chart</title>
</head>
<body>
    <h1>WorkSpace</h1>
    <form method="post">
        <label for="stock">Stock Ticker:</label>
        <input type="text" name="stock" id="stock" placeholder="例如 TSLA" required>
        <br><br>
        <label for="start">Start Date</label>
        <input type="date" name="start" id="start" placeholder="2020-2-22" required>
        <br><br>
        <label for="end">End Date</label>
        <input type="date" name="end" id="end" placeholder="2022-2-23" required>
        <br><br>
        <button type="submit">Generate</button>
    </form>
    
    {% if image_data %}
    <h2>Stock Price Chart</h2>
    <img src="data:image/png;base64,{{ image_data }}" alt="Stock Price Chart">
    {% endif %}
</body>
</html>